<body>
    <div class="site-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="site-top-bar-left-section">
                        <a>
                            <i class="fa fa-clock-o"></i>
                            <span>Mon to Sat : 07:00 - 11:30</span>
                        </a>
                    </div>
                    <div class="site-top-bar-right-section">
                        <a href="tel:+1801454587">
                            <i class="fa fa-phone"></i>
                            <span>+1 801 4545 87</span>
                        </a>
                        <a href="mailto:contact@gmail.com">
                            <i class="fa fa-envelope"></i>
                            <span>contact&#64;gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="site-header" id="sticky-header">
        <div class="container-fluid">
            <nav class="site-nav" data-navbar>
                <h2><a href="/userdash">STAMINA</a></h2>
                <ul class="nav-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a class="active" href="/adminlogin">Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container account-section"> 
        <form [formGroup]="myForm">
            <h3>Welcome to Stamina!</h3>
            <h6>Join us for a healthy future.</h6>
            <button type="button" (click)="register()" class="btn btn-orange">Create an account</button>
            <button type="button" (click)="login()" class="btn btn-orange">Login</button>
        </form>
    </div>
    <div class="col-md-12 center-content">
        <h1>MAKE IT A LIFESTYLE,</h1>
        <h1>NOT A DUTY</h1>
        <!-- <img src="path-to-image.jpg" alt="Motivational Image" class="img-fluid mt-3"> -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
